.about{
    background-color: #ecf6fa;
    backdrop-filter: blur(5px);
    width: 100vw;
    min-height: 100vh;
    border-radius: 40px 40px 0px 0px;
    box-shadow: #0000003b 0px 0px 10px 0px;
    padding-bottom: 10vh;
    overflow: hidden;
    padding: 20px;
}
.about .bordH{
    width: 100%;
    max-height: 10px;
    background-color: #ecf6fa;
    box-shadow: #ecf6fa 0px 0px 10px 10px;
    padding-bottom: 8vh;
}
.about .title{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 90px;
    padding-top: 10px;
}
.about .title h2{
    min-width: max-content;
    color: #004860;
}
.about .title hr{
    border: none;
    background-color: #000000;
    width: 120px;
    height: 5px;
    border-radius: 20px;
}
.about .content{
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.about .content .info{
    width: 50%;
    min-width: 400px;
    min-height: 75vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    padding-top: 30px;
    overflow: hidden;
}
.about .content .info h2{
    max-width: 680px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}
.about .content .info h2 span{
    font-size: 25px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.about .content .info h3{
    font-weight: 600;
    background-color: #ffffffd2;
    border-radius: 20px;
    padding: 0px 20px 5px 20px;
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    box-shadow: #0000002b 0px 0px 5px 0px;
}
.about .content .info h3 span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    border: #00000000 solid 4px;
    border-left: #00a2b8 solid 4px;
    border-right: #00a2b8 solid 4px;
    padding: 0px 40px 0px 40px;
    border-radius: 30px;
}
.about .content ul{
    list-style: none;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    width: 550px;
    min-width: 400px;
    height: 300px;
    overflow: hidden;
    padding: 10px;
}
.about .content ul li h4{
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-size: 16px;
    min-width: 250px;
    max-width: 250px;
    font-weight: 650;
    box-shadow: #0000005d 0px 0px 5px 0px;
}
.about .content ul li span{
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: #00000000 solid 2px;
    border-bottom: #00838c solid 3px;
    border-radius: 8px;
    color: rgb(0, 46, 50);
    font-size: 20px;
    font-weight: 650;
}
.about .content .hint{
    width: 45%;
    min-width: 400px;
    min-height: 400px;
    min-height: 65vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    background-color: #ECF6FA;
    box-shadow: #00000089 0px 0px 5px 0px;
    border-radius: 40px;
    overflow: hidden;
    padding: 20px 30px 30px 30px;
}
.about .content .hint .title{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 60px;
}
.about .content .hint .title h2{
    background-color: #ffffffd2;
    box-shadow: #00000028 0px 0px 5px 0px;
    width: 100%;
    border-radius: 20px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-weight: 600;
    padding: 3px;
    padding-bottom: 5px;
}
.about .content .hint .title h2 i{
    font-size: 25px;
}
.about .content .hint h4{
    line-height: 30px;
    font-weight: 600;
    font-size: 18px;
    color: #004860;
}
.about .content .hint .v4{
    color: #000000c5;
    font-weight: 630;
}
.about .content .hint .title h2 span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    border: #00000000 solid 4px;
    border-left: #00a2b8 solid 4px;
    border-right: #00a2b8 solid 4px;
    padding: 0px 40px 0px 40px;
    border-radius: 30px;
}
.hint-in{
    background-color: #14779e11;
    width: 100%;
    min-width: 380px;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    border-radius: 20px;
    box-shadow: #00000082 0px 0px 5px 0px;
}
.hint-in-v{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    color: #000000;
}
.about .content .hint ul{
    align-items: center;
    justify-content: start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    width: 550px;
    min-width: 400px;
    overflow: hidden;
    padding: 10px;
}
.about .content .hint .ul-2{
    min-height: 500px;
}
.about .content .hint ul li h4{
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    min-width: 250px;
    max-width: 250px;
    font-weight: 630;
    box-shadow: #0000005d 0px 0px 5px 0px;
}
.about .content .hint ul li .spana{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    background-color: #ffffff87;
    color: rgb(0, 71, 87);
    font-weight: 700;
    padding: 0px 5px 0px 5px;
    width: 100%;
}
.about .content .hint ul li .spana2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    background-color: #ffffff87;
    color: rgb(0, 46, 50);
    font-weight: 650;
    font-size: 17px;
    padding: 0px 5px 0px 5px;
}
@media (max-width:1121px) {
    .about .content ul{
    flex-wrap: nowrap;
    width: 400px;
    min-width: 400px;
    height: max-content;
    }
    .about .content ul li h4{
        min-width: 350px;
        max-width: 350px;
    }
}
@media (max-width:900px) {
    .about .content .info{
        width: 100%;
    }
    .about .content .hint{
        width: 85%;
        margin-top: 100px;
    }
    .about .content ul{
        flex-wrap: wrap;
        width: 80%;
        height: 300px;
        align-items: center;
    }
    .hint-in{
        height: 500px;
        background-color: #e3eef2d2;
    }
    .about .content .hint ul{
        gap: 40px;
    }
    .about .content .hint ul li h4{
        min-width: 340px;
        max-width: 90%;
    }
    .about .content ul li h4{
        width: 80%;
        min-width: 250px;
        max-width: 90%;
    }
    .about .content .info h2{
        font-size: 19px;
        font-weight: 650;
        color: #00404e;
    }
    .about .content .info h2 span{
        font-size: 23px;
    }
}
@media (max-width:710px) {
    .about .content ul{
        flex-wrap: nowrap;
        width: 80%;
        height: max-content;
    }
    .about .content ul li h4{
        min-width: 380px;
        max-width: 90%;
    }
}