.home{
    width: 100vw;
    min-height: 96vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 9vh;
}
.home .middle{
    background-color: #f6fcffb7;
    width: 85vw;
    min-height: 80vh;
    border-radius: 40px;
    box-shadow: #0000005b 0px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    padding-top: 18vh;
    border: #ffffffa9 solid 5px;
    transition: 1s;
}
.home .middle h2{
    background: linear-gradient(180deg , var(--day_color_9) ,var(--day_color_9) , #001212 ,var(--day_color_9) , var(--day_color_9));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home .middle h2 .sdf{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.home .img{
    width: 380px;
    height: 250px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    margin-right: 60px;
}
.img-ink{
    width: 380px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    border-radius: 35px;
    background-image: url(https://cdn-icons-gif.flaticon.com/10971/10971770.gif);
    background-position: center;
    background-size: 65%;
    background-repeat: no-repeat;
    box-shadow: #00000074 0px 0px 10px 0px;
    border: #ffffff solid 5px;
    background-color: #ffffff;

}
.air{
    will-change: transform;
    width: 250px;
    height: 250px;
    position: absolute;
    z-index: 0;
    animation: air 10s infinite linear;
    border: rgb(0, 177, 197) dashed 5px;
    border-radius: 30px;
}
@keyframes air {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.air2{
    will-change: transform;
    width: 250px;
    height: 250px;
    position: absolute;
    z-index: 0;
    animation: air2 13s infinite linear;
    border: rgb(0, 109, 82) double 8px;
    border-radius: 30px;
}
@keyframes air2 {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
.home .middle h3{
    color: rgb(0, 29, 50);
    font-weight: 670;
    font-size: 20px;
    margin-top: 70px;
}
.vg{
    line-height: 70px;
    padding: 0px 0px 30px 0px;
    font-size: 80px;
    color: var(--day_color_1);
}
.vg span{
    font-size: 50px;
}
.tr{
    font-size: 60px;
    font-weight: 600;
}
.spanx{
    display: inline-flex;
}
.shadow{
    display: none;
}
@media (max-width:1300px) {
    .home .middle{
        width: 95vw;
        margin-top: 3vh;
        margin-bottom: 5vh;
    }
    .home .middle h2{
        background: none;
        -webkit-background-clip: initial;
        -webkit-text-fill-color: initial;
        text-shadow: #ffffff 0px 0px 5px;
    }
    .home .middle h2 .sdf{
        gap: 80px;
    }
    .spanx{
        font-weight: 600;
        background: none;
        -webkit-background-clip: initial;
        -webkit-text-fill-color: initial;
        color: rgb(0, 109, 82);
        text-shadow: #ffffff 0px 0px 5px;
    }
    .vg{
        line-height: 60px;
        padding: 0px 0px 30px 0px;
        font-size: 60px;
        font-weight: 600;
        color: rgb(0, 33, 26);
    }
    .vg span{
        font-size: 45px;
        font-weight: 600;
    }
    .tr{
        font-size: 50px;
        font-weight: 620;
    }
    
}
@media (max-width:800px) {

    .home{
        padding-bottom: 80vh;
        padding-top: 0px;
    }
    
    .home .middle{
        width: 100vw;
        backdrop-filter: blur(0px);
        padding-top: 30vh;
        padding-bottom: 10vh;
        /* margin-top: 1vh; */
        border-left-color: #ffffff00;
        border-right-color: #ffffff00;
        /* background-color: #ecf6fa87; */
        background-color: #ecf6fa;
        border-radius: 0px 0px 40px 40px;
        margin-top: 0px;
    }
    .home .middle h3{
        font-size: 22px;
        margin: 40px 10px 0px 10px;
        text-align: center;
        line-height: 25px;
    }
    .img-ink{
        border-radius: 30px 300px 30px 300px;
    }
    .air{
        border-radius: 30px 300px 30px 300px;
    }
    .air2{
        border-radius: 30px 300px 30px 300px;
    }
}
