*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "cairo", sans-serif;
    font-weight: 400;
    font-style: normal;
    scrollbar-width: none;
}
:root{
    /* day mode */
    --day_B_color_1: #E5F3F8;
    --day_color_1: #006966; 
    --day_color_2: #000000;
    --day_color_3: #000000d4;
    --day_color_9: #006278; 
    /* nite mode */
    --night_B_color_1: #172022;
    --night_color_1: #003b4bb9;
    --night_color_2: #d2d2d2;
    --night_color_3: #e1e1e1ae;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: var(--day_color_3);
}
body{
    color: var(--day_color_3);
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    background-color: #ECF6FA;
    overflow-x: hidden;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 86vw; */
    height: 67px;
    backdrop-filter: blur(20px);
    background-color: #ecf6fa;
    color: var(--night_B_color_1);
    position: fixed;
    z-index: 9;
    padding: 5px;
    border-radius: 20px;
    top: 10px;
    /* overflow: hidden; */
    border: #0000002b solid 2.5px;
    transition: 1s;
    margin-left: 1vw;
}
nav{
    min-width: max-content;
    background-color: #ecf6fa;
    box-shadow: #0069667f 0px 0px 7px 0px;
    height: 100%;
    min-width: 500px;
    border-radius: 17px;
    border: #00696633 solid 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 20px;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}
nav ul li{
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav a{
    font-weight: 600;
    font-size: 17px;
    transition: 0.4s;
    height: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: rgba(255, 0, 0, 0) solid 3px;
    cursor: pointer;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    position: relative;
    text-decoration: none;
    color: #000000a8;
}
nav a::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--day_color_1);
    bottom: -17px;
    position: absolute;
    left: 0;
    transition: 0.5s;
}
nav a:hover::after{
    width: 100%;
}
nav i{
    font-size: 17px;
    color: var(--day_color_1);
}
@media (max-width:950px) {
    
    body{
        justify-content: center;
    }
    header nav{
        min-width: 380px;
    }
    header{
        margin-left: 0px;
    }
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
}








































































































.main .not-valid img{
    width: 250px;
    border-radius: 30px;
    box-shadow: #ffffff 0px 0px 50px 50px;
}
.main .not-valid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.main .not-valid h1{
    font-size: 55px;
    font-weight: 620;
    color: #00acd3;
    line-height: 60px;
    width: 340px;
    text-align: center;
}
.main .not-valid h1 span{
    font-weight: 620;
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}