.side{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 8;
    top: 0px;
    left: -100vw;
    transition: 0.3s;
    overflow: hidden;
    background-color: #00000015;
}
.side-in{
    width: 70vw;
    height: 100%;
    /* background-color: #e5ebeb; */
    padding-top: 13vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    backdrop-filter: blur(5px);
    background: linear-gradient(to bottom , #a6c4d6 , #e5ebeb00);
    /* box-shadow: rgba(255, 255, 255, 0.756) 0px 0px 10px 10px; */
}
.side-in .img{
    background-color: #ffffff;
    background-image: url(https://cdn-icons-gif.flaticon.com/19026/19026718.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    width: 280px;
    height: 150px;
    display: none;
}
#i-log{
    font-size: 80px;
    color: #005965;
    padding: 20px 50px 20px 50px;
    text-shadow: #ffffff 0px 0px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    gap: 10px;
}
#i-log span{
    font-size: 35px;
    font-weight: 650;
    /* color: rgb(123, 0, 0); */
    text-align: center;
}
.side .ul-1{
    list-style: none;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    /* background-color: #0d516cd6; */
    padding: 10px 0px 10px 0px;
    /* overflow: hidden; */
}
.side .ul-1 li{
    width: 100%;
}
.side .ul-1 li a{
    background-color: #ffffff91;
    /* background: linear-gradient( to right , rgba(255, 255, 255, 0.847) 60%, #bfbbc500); */
    width: 100%;
    height: 45px;
    padding: 0px 10px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
    /* border-bottom: #003a40 solid 5px; */
    /* border-radius: 10px; */
    /* border-left: #00000000 solid 4px;
    border-right: #00000000 solid 4px; */
    color: #003d44;
    font-size: 22px;
    font-weight: 630;
    border-radius: 10px;
    /* border: #00000048 solid 2px; */
}
#dev2{
    color: #ffffff;
    margin-top: 50px;
    border: none;
    background: none;
    background-color: #003a40;
    border-radius: 10px;
}
.dropdown2{
    position: relative;
}

.dropdown-menu2 {
    position: absolute;
    /* top: -250px;  */
    top: -130px; 
    left: 11.5px;
    min-width: 380px;
    /* min-height: 650px; */
    overflow: hidden;
    display: none;
    opacity: 0;
    border-radius: 25px;
    list-style: none;
    z-index: 9;
    transition: 0.45s;

    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    /* background-color: #ECF6FA; */
    background-color: #F8FEFF;
    backdrop-filter: blur(10px);
    padding: 20px 20px 30px 20px;
    border: #74747400 solid 6px;
    border-top: #007183 solid 4px;
    border-bottom: #007183 solid 4px;
}
.dropdown-menu2 .back{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 0px;
}
.dropdown-menu2 .back .back-btn{
    /* background-color: #dc0000c5; */
    min-width: 100px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #ff3232b0;
    font-size: 25px;
    text-shadow: #aa2a2a7e 0px 0px 2px;
    padding: 0px 17px 0px 10px;
}
.dropdown-menu2 .back #man{
    font-size: 27px;
    color: #00606c;
    text-shadow: #ffffff 0px 0px 4px;
}
.dropdown-menu2 li h4{
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-size: 16px;
    min-width: 285px;
    font-weight: 650;
    border: #74747483 solid 2.5px;
    cursor: pointer;
    transition: 0.5s;
}
.dropdown-menu2 li h4:hover{
    border: #008ab87a solid 2.5px;
    background-color: #00d5ff27;
}
.dropdown-menu2 li span{
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: #00000000 solid 2px;
    border-bottom: #00838c solid 3px;
    border-radius: 8px;
    color: rgb(0, 46, 50);
    font-size: 20px;
    font-weight: 650;
}

