.side{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 8;
    top: 0px;
    left: -100vw;
    transition: 0.3s;
    overflow: hidden;
    background-color: #0000002f;
}
.side-in{
    width: 65vw;
    height: 100%;
    background-color: #d2e8eb;
    padding-top: 13vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
}
#i-log{
    font-size: 100px;
    color: #005965;
    padding: 20px 50px 20px 50px;
    text-shadow: #ffffff 0px 0px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#i-log span{
    font-size: 40px;
    font-weight: 650;
    color: #008c91;
    text-align: center;
}
.side .ul-1{
    list-style: none;
    width: 272px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    /* background-color: #0d516cd6; */
    padding: 10px 5px 10px 5px;
    /* overflow: hidden; */
}
.side .ul-1 li{
    width: 100%;
}
.side .ul-1 li a{
    background-color: #ffffffd8;
    background: linear-gradient( to right , rgba(255, 255, 255, 0.847) 60%, #D2E8EB);
    width: 100%;
    height: 45px;
    padding: 0px 10px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
    /* border-radius: 10px; */
    /* border-left: #00000000 solid 4px;
    border-right: #00000000 solid 4px; */
    color: #003d44;
    font-size: 22px;
    font-weight: 630;
    /* border: #00000048 solid 2px; */
}
#dev2{
    color: #ffffff;
    margin-top: 50px;
    border: none;
    background: none;
    background-color: #003a40;
    border-radius: 10px;
}
.dropdown2{
    position: relative;
}

.dropdown-menu2 {
    position: absolute;
    top: -250px; 
    left: 40px;
    min-width: 330px;
    /* min-height: 650px; */
    overflow: hidden;
    display: none;
    opacity: 0;
    border-radius: 15px;
    list-style: none;
    z-index: 9;
    transition: 0.5s;

    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    background-color: #ECF6FA;
    padding: 20px 20px 30px 20px;
    border: #747474 solid 2.5px;
}
.dropdown-menu2 .back{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.dropdown-menu2 .back .back-btn{
    background-color: #ff00005e;
    width: 100px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 24px;
    text-shadow: #ff0000 0px 0px 10px;
}
.dropdown-menu2 li h4{
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-size: 16px;
    min-width: 285px;
    font-weight: 650;
    border: #74747483 solid 2.5px;
    cursor: pointer;
    transition: 0.3s;
}
.dropdown-menu2 li h4:hover{
    border: #008ab8 solid 2.5px;
    background-color: #005c6e2e;
}
.dropdown-menu2 li span{
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: #00000000 solid 2px;
    border-bottom: #00838c solid 3px;
    border-radius: 8px;
    color: rgb(0, 46, 50);
    font-size: 20px;
    font-weight: 650;
}

