.side{
    background-color: #82c7e2dd;
    /* background-color: #000000; */
    width: 65vw;
    height: 100vh;
    position: fixed;
    z-index: 8;
    top: 0px;
    /* right: -100vw; */
    left: -100vw;
    transition: 0.3s;
    padding-top: 13vh;
    overflow: hidden;
}
.side ul{
    list-style: none;
    width: 268px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    /* background-color: #0d516cd6; */
    padding: 10px 5px 10px 5px;
    overflow: hidden;
}
.side li{
    width: 100%;
}
.side ul li a{
    background-color: #ffffffd8;
    /* background: linear-gradient( to top , rgba(255, 255, 255, 0.847) 60%, rgba(255, 0, 0, 0)); */
    width: 100%;
    padding: 5px 10px 2px 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    border-radius: 10px;
    /* border-left: #00000000 solid 4px;
    border-right: #00000000 solid 4px; */
    color: #003d44;
    font-size: 22px;
}
#dev2{
    color: #ffffff;
    margin-top: 50px;
    border: none;
    background: none;
    background-color: #003a40;
}