*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "cairo", sans-serif;
    font-weight: 400;
    font-style: normal;
    scrollbar-width: none;
}
:root{
    /* day mode */
    --day_B_color_1: #E5F3F8;
    --day_color_1: #006966; 
    --day_color_2: #000000;
    --day_color_3: #000000d4;
    --day_color_9: #006278; 
    /* nite mode */
    --night_B_color_1: #172022;
    --night_color_1: #003b4bb9;
    --night_color_2: #d2d2d2;
    --night_color_3: #e1e1e1ae;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: var(--day_color_3);
}
body{
    color: var(--day_color_3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-image: url(https://images.pexels.com/photos/7944130/pexels-photo-7944130.jpeg);
    background-position: 50% 20%;
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--day_B_color_1);
    overflow-x: hidden;
    overflow-y: auto;
}
.main{
    width: 100vw;
    min-height: 100vh;
    background-color: #00000020;
    overflow: hidden;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 86vw;
    height: 67px;
    backdrop-filter: blur(20px);
    background-color: #f2f6f8;
    color: var(--night_B_color_1);
    position: fixed;
    z-index: 9;
    padding: 5px 5px 5px 0px;
    border-radius: 22px;
    top: 10px;
    /* overflow: hidden; */
    border: #0000002b solid 2.5px;
    transition: 1s;
}
header .logo{
    min-width: 320px;
    height: 60px;
    margin-bottom: 10px;
    padding: 0px 0px 0px 15px;
    border-radius: 20px;
    margin-top: 10px;
}
header .logo h2{
    color: var(--day_color_1);
    font-family: "Playwrite IN", cursive;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
    font-size: 23px;
}
header .logo h2 .aa{
    border: #00000000 solid 3.5px;
    border-bottom: #000000a8 solid 3.2px;
    border-radius: 100px;
    font-size: 25px;
    color: #000000a8;
    /* font-weight: 650; */
}
header .logo h2 spana{
    position: relative;
    left: -50px;
    top: 20px;
    font-size: 13px;
    font-weight: 700;
    color: #000000a8;
}
nav{
    min-width: max-content;
    /* background-color: #F2F6F8; */
    box-shadow: #006966a4 0px 0px 6px 0px;
    height: 100%;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 20px;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}
nav ul li{
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav a{
    font-weight: 600;
    font-size: 17px;
    transition: 0.4s;
    height: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: rgba(255, 0, 0, 0) solid 3px;
    cursor: pointer;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    position: relative;
    text-decoration: none;
    color: #000000a8;
}
#dev{
    background-color: #ffffff;
    width: 100px;
    border-radius: 12px;
    box-shadow: #0000004c 0px 0px 5px 0px;
    height: 40px;
}
nav a::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--day_color_1);
    bottom: -17px;
    position: absolute;
    left: 0;
    transition: 0.5s;
}
nav a:hover::after{
    width: 100%;
}
nav i{
    font-size: 17px;
    color: var(--day_color_1);
}

















.side-icon{
    min-width: 50px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: #0000002b solid 2.5px;
    border-radius: 13px;
    display: none;
    cursor: pointer;
}
#bars{
    display: block;
}
#x-mark{
    display: none;
    font-size: 23px;
}
.other{
    /* background-color: #F2F6F8; */
    background-color: #e8f2f6;
    backdrop-filter: blur(2px);
    width: 100%;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 15vh;
}
.other h4{
    font-weight: 600;
    /* background-color: #ffffffd2; */
    border-radius: 20px;
    padding: 3px 0px 3px 0px;
    width: 95%;
    /* max-width: 700px; */
    margin: 40px 200px 40px 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    /* border: #0000002b solid 2.5px; */
    font-size: 23px;
}
.other h4 span{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-weight: 600;
    /* color: rgb(0, 0, 0); */
    border: #00000000 solid 4px;
    border-left: #00a2b8 solid 4px;
    border-right: #00a2b8 solid 4px;
    padding: 0px 40px 0px 40px;
    border-radius: 30px;
}
.foot-in{
    background-color: #DDEEF4;
    width: 95%;
    min-height: 350px;
    border-radius: 40px;
    border: #0000002b solid 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 20px 50px 20px 50px;
    margin-top: 1vh;
    margin-bottom: 10vh;
}
.foot-in h1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
    min-height: 380px;
    line-height: 25px;
    font-size: 16px;
    color: #001f2a;
    font-weight: 630;
    text-align: center;
    padding: 5px;
}
.foot-in h1 ul{
    max-width: 400px;
    height: max-content;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
    gap: 30px;
    margin-top: 50px;
}
.foot-in h1 ul li{
    background-color: #F2F6F8;
}
.foot-in .fu{
    max-width: 400px;
    min-height: 350px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
}
.foot-in ul li{
    width: 100%;
    max-width: 350px;
    padding: 10px;
    border-radius: 15px;
    border: #0000002b solid 2.5px;
    margin: 5px;
    background-color: #F2F6F8;
}
.foot-in ul li h3{
    line-height: 25px;
    font-size: 15px;
    color: #000000c5;
    font-weight: 630;
    display: flex;
    align-items: start;
    justify-content: left;
    gap: 10px;
}
.foot-in ul li span{
    min-width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: #00838c solid 3px; */
    font-size: 17px;
    color: #005965;
}
.foot-in .files{
    width: 400px;
    min-height: 365px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 15px;

    /* background-color: #ECF6FA; */
    background-color: #F2F6F8;
    padding: 20px 10px 20px 10px;
    border-radius: 20px;
    /* box-shadow: #00000082 0px 0px 5px 0px; */
}
.files .img{
    background-image: url(https://cdn-icons-gif.flaticon.com/7740/7740491.gif);
    /* background-image: url(https://cdn-icons-gif.flaticon.com/6455/6455041.gif); */
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 30px;
}
.file{
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 65px;
    border: #00434c4d solid 2.5px;
    /* background-color: #ECF6FA; */
}
.file h2{
    font-size: 20px;
    font-weight: 650;
    text-align: center;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 7px;
    width: 100%;
    padding: 0px 20px 0px 20px;
    color: #00212c;
}
.file h2 span a{
    padding: 8px 11px 8px 11px;
    line-height: 20px;
    border-radius: 10px;
    font-weight: 600;
    background-color: #005965;
    color: #ffffffe7;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100px;
}
.file spanv{
    font-weight: 620;
    font-size: 18px;
}
footer{
    width: 100%;
    min-height: 45px;
    background-color: #005965;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
footer h3{
    font-size: 17px;
    font-weight: 650;
    color: #e0e0e0;
}
@media (max-width:1200px) {
    
    header{
        width: 95vw;
    }
}
@media (max-width:950px) {
    
    body{
        background-position: 0% 30%;
        background-size: 400%;
    }
    header nav{
        display: none;
    }
    header{
        padding: 5px 10px 5px 0px;
    }
    .side-icon{
        display: flex;
    }
    footer{
        gap: 20px;
    }
    footer h3{
        font-size: 15.5px;
    }
    .other{
        padding-top: 15vh;
    }
    .foot-in{
        width: 95%;
        padding: 20px 8px 10px 8px;
        overflow: hidden;
        box-shadow: none;
    }
    .foot-in ul li{
        box-shadow: none;
    }
    .foot-in h1{
        min-height: 280px;
        gap: 40px;
    }
    .foot-in .files{
        box-shadow: none;
        min-height: max-content;
        border-radius: 30px;
        background-color: inherit;
    }
    /* .file{
        width: 360px;
        height: 65px;
        border: #00434c4d solid 2.5px;
        background-color: #ECF6FA;
    } */
    /* .file h2{
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        padding: 0px 20px 0px 20px;
        color: #00212c;
    } */
    .file h2 span a{
        margin: 0px 0px 0px 0px;
    }
    .file spanv{
        font-size: 20px;
    }
    .other h4{
        margin: 20px 20px 40px 20px;
        max-width: 370px;
        box-shadow: none;
    }
}