
.member-page{
    display: none;
}
.all-members-page{
    background-color: #ECF6FA;
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    z-index: 7;
    top: 0px;
    left: 0px;
    opacity: 0;
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.all-members-page .not-valid img{
    width: 250px;
    border-radius: 30px;
    box-shadow: #ffffff 0px 0px 50px 50px;
}
.all-members-page .not-valid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.all-members-page .not-valid h1{
    font-size: 55px;
    font-weight: 620;
    color: #00acd3;
    line-height: 60px;
    width: 340px;
    text-align: center;
}
.all-members-page .not-valid h1 span{
    font-weight: 620;
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}





