
.member-page{
    display: none;
}
.all-members-page{
    background-color: #ECF6FA;
    width: 100vw;
    min-height: 96vh;
    position: fixed;
    z-index: 7;
    top: 0px;
    left: 0px;
    opacity: 0;
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: start;
    flex-direction: column;
    transition: 0.5s;
    padding-top: 12.5vh;
}
.all-members-page .not-valid img{
    width: 250px;
    border-radius: 30px;
    box-shadow: #ffffff 0px 0px 50px 50px;
}
.all-members-page .not-valid{
    background-color: #ecf6fa8f;
    width: 85vw;
    min-height: 80vh;
    backdrop-filter: blur(5px);
    border-radius: 40px;
    box-shadow: #0000005b 0px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    padding-top: 15vh;
    border: #ffffffa9 solid 5px;
    overflow: hidden;
}
.all-members-page .not-valid h1{
    font-size: 55px;
    font-weight: 620;
    color: #00acd3;
    line-height: 60px;
    width: 340px;
    text-align: center;
    text-shadow: #ffffff 0px 0px 4px;
}
.all-members-page .not-valid h1 span{
    font-weight: 620;
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}





