

.dropdown{
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 60px; 
    left: -100px;
    width: 300px;
    overflow: hidden;
    display: none;
    opacity: 0;
    border-radius: 20px;
    list-style: none;
    z-index: 9;
    transition: 0.4s;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: #f8feff;
    /* padding: 30px 20px 30px 20px; */
    border: #89898990 solid 3px;
}
.dropdown-menu li h4{
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-size: 16px;
    min-width: 260px;
    max-width: 260px;
    font-weight: 650;
    border: #7474743f solid 2.5px;
    cursor: pointer;
    transition: 0.3s;
}
.dropdown-menu li h4:hover{
    border: #008ab8 solid 2.5px;
    background-color: #005c6e2e;
}
.dropdown-menu li span{
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: #00000000 solid 2px;
    border-bottom: #00838c solid 3px;
    border-radius: 8px;
    color: rgb(0, 46, 50);
    font-size: 20px;
    font-weight: 650;
}















.member-page{
    display: none;
}
.all-members-page{
    /* background-color: #ECF6FA; */
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    z-index: 7;
    top: 0px;
    left: 0px;
    opacity: 0;
    display: none;
    transition: 0.5s;
    /* display: flex; */
    /* background-color: #00000020; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}
.all-members-page .not-valid img{
    width: 250px;
    border-radius: 30px;
    box-shadow: #ffffff 0px 0px 50px 50px;
}
.all-members-page .not-valid{
    background-color: #ecf6fa;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
    padding-top: 25vh;
    overflow: hidden;
}
.all-members-page .not-valid h1{
    font-size: 55px;
    font-weight: 620;
    color: #00acd3;
    line-height: 60px;
    width: 340px;
    text-align: center;
}
.all-members-page .not-valid h1 span{
    font-weight: 620;
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

















.member-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    /* gap: 20px; */
    padding-top: 12.5vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.member-page .front-info{
    background-color: #ecf6fab6;
    /* background-color: #ecf6fa41; */
    width: 85vw;
    min-height: 80vh;
    backdrop-filter: blur(4px);
    border-radius: 40px;
    box-shadow: #0000005b 0px 0px 10px 0px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 20px;
    border: #ffffffa9 solid 5px;
    overflow: hidden;
    padding: 30px;
    margin-bottom: 3.5vh;
}
.front-x{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 10px;
}
.anima{
    /* background-color: #ECF6FA; */
    min-width: 400px;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border-radius: 30px;
    overflow: hidden;
}
.anima .img{
    background-image: url(https://cdn-icons-gif.flaticon.com/17905/17905706.gif);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 2;
    min-width: 200px;
    min-height: 200px;
    border-radius: 100%;
    /* border-radius: 50% 10% 50% 10%; */
    background-color: white;
}
.front-info .card{
    background-color: #ECF6FA;
    /* min-width: 400px; */
    min-width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    gap: 20px;
    padding: 20px;
    border-radius: 30px;
    overflow: hidden;
}
.card-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.front-info .card .img{
    /* background-color: #cde2ff; */
    /* background-color: #308ebd23; */
    
    background-color: #ffffff;
    background-image: url(https://i.pinimg.com/736x/f7/93/16/f793166330e67100fb1b8725d19d0a18.jpg);
    background-position: 60% 100%;
    background-size: 90%;
    
    /* background-color: #CACBC5;
    background-image: url(https://i.pinimg.com/736x/a7/e6/0b/a7e60b016787b5272a917b949ce66e1c.jpg);
    background-position: 45% 3%;
    background-size: 250%; */
    
    background-repeat: no-repeat;
    min-width: 250px;
    min-height: 250px;
    border-radius: 100%;
    border: #0084a276 solid 3.5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.front-info .imga-2{
    background-image: url(https://cdn-icons-gif.flaticon.com/14662/14662001.gif);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 2;
    min-width: 250px;
    min-height: 250px;
    border-radius: 100%;
    background-color: white;
    transition: 0.5s;
    opacity: 1;
}
.front-info .m-d{
    line-height: 32px;
    width: 250px;
    font-weight: 600;
    /* background-color: #0000005b; */
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    gap: 0px;
}
.front-info .m-d span{
    font-weight: 650;
    color: #00718b;
}
.front-info spana{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-weight: 630;
    width: 100%;
    text-align: center;
    color: #00221bc2;
}
.front-info spana i{
    color: #00718b;
}
.front-info hr{
    width: 250px;
    height: 3.5px;
    border: none;
    background-color: #0084a276;
}
.front-content{
    background-color: #0050607b;
    width: 100%;
    min-width: 400px;
    min-height: 100%;
    border-radius: 15px;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 15px;
    flex-direction: column;
    padding: 30px;
    line-height: 30px;
    color: #ffffff;
}
.front-content h2{
    margin-bottom: 10vh;
}
.front-content ul{
    list-style: none;
}
.front-content ul h4{
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    min-width: 260px;
    margin: 0px;
}
.front-content ul span{
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: #00000000 solid 2px;
    border-bottom: #00838c solid 3px;
    border-radius: 8px;
    color: rgb(0, 46, 50);
    font-size: 20px;
    font-weight: 650;
}



















.project{
    background-color: #ecf6fa;
    backdrop-filter: blur(5px);
    width: 100vw;
    min-height: 100vh;
    border-radius: 40px 40px 0px 0px;
    border: #0000002b solid 2.5px;
    border-bottom: none;
    /* padding-bottom: 10vh; */
    overflow: hidden;
    padding: 20px;
    padding-top: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    gap: 20px;
}
.project .title{
    width: 40vw;
    min-height: 55px;
    /* background-color: #6199a5; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;
}
.project .title .hint{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 100px;
}
.project .title .hint .img{
    background-image: url(https://cdn-icons-png.flaticon.com/128/11599/11599534.png);
    background-position: center;
    background-size: 150%;
    background-repeat: no-repeat;
    width: 100px;
    /* background-color: #68292999; */
    height: 150px;
}
.project .title .hint h2{
    font-size: 60px;
}
.project .title h3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 130px;
    height: 45px;
    /* background-color: #ffffff09; */
    border-radius: 12px;
    color: #000000c0;
    border: #000000c0 solid 2.5px;
    font-size: 20px;
}
.project .title .t-in{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.project .title h2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #000000c0;
}
.project .title h2 hr{
    border: none;
    width: 100px;
    height: 5px;
    background-color: #000000c0;
    margin: 0px 5px 0px 5px;
}
.pro-content{
    width: 800px;
    height: 85vh;
    border-radius: 30px;
    overflow: hidden;
    border: #729CA3 solid 5px;
}
.pro-content .pc-in{
    width: 100%;
    height: 80vh;
    border-radius: 20px;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 80px;
    padding-top: 60px;
    text-align: right;
    font-size: 16px;
    scrollbar-width: thin;
    direction: rtl;
}
.pc-in h3{
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    text-align: center;
}
.pc-in h4{
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    text-align: center;
}
.pc-intro{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
    direction: rtl;
}
.pc-content{
    font-size: 15.32px;
    line-height: 2.2rem;
    direction: rtl;
}
.pc-intro2{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 16px;
    color: #ff0000;
    direction: rtl;
}
.i-1{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    transform: rotate(90deg);
    font-size: 20px;
}
.pc-in ul{
    list-style: none;
}
.true{
    font-weight: bold;
}


















@media (max-width:1300px) {
    
    .member-page{
        justify-content: center;
        /* padding-top: 12vh; */
        padding-top: 105vh;
    }
    .member-page .front-info{
        width: 95vw;
        margin-bottom: 5vh;
    }
    
}
@media (max-width:1135px) {
    
}
@media (max-width:800px) {
    
    .member-page{
        padding-top: 100vh;
    }
    .member-page .front-info{
        width: 100vw;
        min-height: 100vh;
        padding-top: 20vh;
        padding-bottom: 10vh;
        border-left-color: #ffffff00;
        border-right-color: #ffffff00;
        background-color: #ecf6fa;
        border-radius: 0px 0px 40px 40px;
        margin-top: 0px;
    }
    
}
